<%= form_with model: product do |form| %>

<div class="form-floating mb-3">
  <%= form.text_field :name, class:"form-control", id:"floatingName", placeholder:"Product Name" %>
  <label for="floatingName">Product Name</label>
</div>
<div class="form-floating mb-3">
  <%= form.text_area :description, class:"form-control", id:"floatingDescription", placeholder:"Description"%>
  <label for="floatingDescription">Description</label>
</div>
<div class="form-floating mb-3">
  <%= form.text_field :price, class:"form-control", id:"floatingPrice", placeholder:"Price"%>
  <label for="floatingPrice">Price</label>
</div>
<div class="form-floating mb-3">
  <%= form.text_field :stock, class:"form-control", id:"floatingStock", placeholder:"Stock"%>
  <label for="floatingStock">Stock</label>
</div>
<div class="form-floating mb-3">
  <div class="input-group">
    <input type="file" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload">
  </div>
</div>
  
<div class="form-floating mb-3">
  <%= link_to "Creat Product", form.submit, class:"btn btn-sm btn-dark" %>
</div>
  <% end %>