<div class="row border-bottom">
  <div class="title">
    <h1 class="display-3">Products</h1>
    <i class="fa-thin fa-ampersand"></i>
  </div>
  <div class="count">
  <div class="alert alert-info" role="alert">
    We have <%= Product.count %> products and counting!
  </div>
</div>

<div class="row">
  <% @products.each do |product| %>
      <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"><%= product.name %></h5>
          <p class="card-text"> $ <%= product.price %></p>
          <p class="card-text"><%= product.description.truncate_words(8)%></p>
          <%= link_to product.name, product class:"btn btn-primary" %>
        </div>
      </div>
  <% end %>
</div>

<div class="new-product">
  <%= link_to "New Product", new_product_path class:"btn btn-primary" %>
</div>

<style>
.count{
  text-align: center;
}
.title{
  text-align: left;
  padding-top: 5px;
  padding-left: 25px;
}
.new-product{
text-align: center;
padding: 20px;
}
</style>

