
<div class="container-fluid">
  <div class="display-3">
    <h1 class="display-3 text-center"><%= @product.name %></h1>
  </div>
</div>

<div class="container-fluid">
  <%= image_tag(@product.image, class:"rounded mx-auto d-block") %>
</div>


<div class="container-fluid">
  <p> Price: $<%= @product.price %></p>
  <p> Description: <br> <%= @product.description %></p>
</div>
<hr>

<div class="container-fluid">
  <div class="display-5">
    <h3 class="display-5 text-right">Reviews:</h3>
  </div>
  <% render @product.reviews %>
</div>

<div class="container-fluid">
  <div class="display-5">
    <h3 class="display-5 text-right">Add a Review:</h3>
  </div>
  <%= render 'reviews/form' %>
</div>

<div class="container-fluid text-center">
  <ul>
    <%= link_to "Edit Product", edit_product_path(@product), class:"btn btn-sm btn-secondary" %>
    <%= link_to "Delete Product", product_path(@product), class:"btn btn-sm btn-secondary", data: {
                      turbo_method: :delete,
                      turbo_confirm: "Are you sure?"
                    } %> 
  </ul>
</div>
